In [64]:
import pandas as pd 
import numpy as np
import seaborn as sns

In [65]:
df=pd.read_csv('Email.csv')

In [66]:
df

                                                   text        spam
0     Subject: naturally irresistible your corporate...           1
1     Subject: the stock trading gunslinger  fanny i...           1
2     Subject: unbelievable new homes made easy  im ...           1
3     Subject: 4 color printing special  request add...           1
4     Subject: do not have money , get software cds ...           1
...                                                 ...         ...
5723  Subject: re : enron case study update  wow ! a...           0
5724  Subject: re : interest  david ,  please , call...           0
5725  Subject: news : aurora 5 . 2 update  aurora ve...           0
5726                                                NaN         NaN
5727                                                NaN

[5728 rows x 2 columns]

In [67]:
df.drop_duplicates()

                                                   text        spam
0     Subject: naturally irresistible your corporate...           1
1     Subject: the stock trading gunslinger  fanny i...           1
2     Subject: unbelievable new homes made easy  im ...           1
3     Subject: 4 color printing special  request add...           1
4     Subject: do not have money , get software cds ...           1
...                                                 ...         ...
5723  Subject: re : enron case study update  wow ! a...           0
5724  Subject: re : interest  david ,  please , call...           0
5725  Subject: news : aurora 5 . 2 update  aurora ve...           0
5726                                                NaN         NaN
5727                                                NaN

[5695 rows x 2 columns]

In [68]:
df.isnull().sum()

text    2
spam    1
dtype: int64

In [69]:
df=df.dropna()

In [70]:
df

                                                   text spam
0     Subject: naturally irresistible your corporate...    1
1     Subject: the stock trading gunslinger  fanny i...    1
2     Subject: unbelievable new homes made easy  im ...    1
3     Subject: 4 color printing special  request add...    1
4     Subject: do not have money , get software cds ...    1
...                                                 ...  ...
5721  Subject: re : research and development charges...    0
5722  Subject: re : receipts from visit  jim ,  than...    0
5723  Subject: re : enron case study update  wow ! a...    0
5724  Subject: re : interest  david ,  please , call...    0
5725  Subject: news : aurora 5 . 2 update  aurora ve...    0

[5726 rows x 2 columns]

In [71]:
df.isnull().sum()

text    0
spam    0
dtype: int64

In [72]:
df['spam'].value_counts()

0    4358
1    1368
Name: spam, dtype: int64

# Separate x and y

In [52]:
x=df.text.values

In [53]:
y=df.spam.values

# Split dataset

In [54]:
from sklearn.model_selection import train_test_split

In [55]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.20)

# Data preprocessing using CountVectorizer

In [56]:
from sklearn.feature_extraction.text import CountVectorizer

In [57]:
cv=CountVectorizer()

In [58]:
x_train = cv.fit_transform(xtrain)

# Naive bayes classifier algorithm

In [59]:
from sklearn.naive_bayes import MultinomialNB

In [60]:
MNB=MultinomialNB()

In [61]:
MNB.fit(x_train,ytrain)

MultinomialNB()

In [62]:
x_test = cv.transform(xtest)

In [63]:
MNB.score(x_test,ytest)

0.9947643979057592

# Prediction

In [74]:
email=['Holiday Ham is the leading mail order delivery ham company',' such as @gmail.com Image: Pickr. In this example']

In [75]:
e_mail = cv.transform(email)

In [76]:
MNB.predict(e_mail)

array(['1', '1'], dtype='<U1')